body {
    background-color: black;
    font-family: Orbitron;
    color: #f8cc00;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}
a:link {
    color: #ff5420;
}
a:visited {
    color: #ff5420;
}
a:hover {
    color: #f8cc00;
}
a:active {
    color: #ff5420;
}

#gameScreen {
    border:1px solid #000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
