html
    head
        title Space Rocket
        link(href='//fonts.googleapis.com/css?family=Orbitron', rel='stylesheet')
        link(rel="stylesheet", type="text/css", href="style/main.css")
    body
        canvas(id="gameScreen")
        h1
            a(href='/') Home
    script(src='js/main.js')
